@page "/"

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">

                <h3 class="ui header">Получение сведений о студенте</h3>
                <p>Сведения храняться на протяжении всего срока обучения студента и могут быть получены сотрудниками деканата, профкома и отделом кадров.</p>
                <h3 class="ui header">Составление справок и отчетов</h3>
                <p>Получайте полную информацию о студенте, составляйте справки и отчеты.</p>

            </div>
            <div class="six wide right floated column">

                <img src="css/Semantic-UI-CSS-master/noimg.png" class="ui large bordered rounded image">

            </div>
        </div>
        <div class="row">
            <div class="aligned column">

                <NavLink class="ui huge button" href="guide"> Руководство использования</NavLink>

            </div>
        </div>
    </div>
</div>