@page "/profile"
@using Dekanat.Shared
@inject HttpClient Http

<div class="ui grid">

    <div class="four wide column">
        <!-- Persone info -->
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    @if (Persone.Email == null) {
                        <div class="ui placeholder">
                            <div class="header">
                                <div class="very short line"></div>
                                <div class="medium line"></div>
                            </div>
                        </div>
                    }
                    else {
                <div class="header"> @Persone.LastName @Persone.FirstName @Persone.SurName </div>
                        <div class="description">
                            @Persone.Email
                        </div>
                    }

                </div>
                <NavLink class="ui bottom attached button" href="profile/edit">
                    <i class="edit icon"></i>
                    Редактировать
                </NavLink>
            </div>
        </div>
        <!-- /Persone info -->
    </div>

    <div class="twelve wide column">
        <div class="ui secondary pointing menu">
            <NavLink class="item" href="profile">
                Профиль
            </NavLink>
            <NavLink class="item" href="students">
                Студенты
            </NavLink>
            <NavLink class="item" href="students">
                Отчет
            </NavLink>
           
            <div class="right menu">
                <NavLink class="ui item" href="students">
                    Выйти
                </NavLink>
            </div>
        </div>
    </div>
</div>








@functions{
    ProfileViewModel Persone { get; set; }

    protected override async Task OnInitAsync() {

        Persone = new ProfileViewModel();
        Persone = await Http.GetJsonAsync<ProfileViewModel>("api/Account/Profile");
    }
}