@inherits LayoutComponentBase
@inject HttpClient Http

<NavMenu isAuth ="@isAuth"/>

<div class="ui main container">
    @Body
</div>

@functions{
    bool isAuth;

    protected override async Task OnParametersSetAsync() {

        isAuth = await Http.GetJsonAsync<bool>("api/Account/Authorized");
    }

}
