@inject HttpClient Http
@inject IUriHelper UriHelper
<div class="ui fixed inverted menu">
    <div class="ui container">

        <NavLink class="header item" href="">
            <img class="logo" src="css/Semantic-UI-CSS-master/noimg.png">
            <strong>Dekanat</strong>
        </NavLink>

        <NavLink class="item" href="">
            Главная страница
        </NavLink>

        <NavLink class="item" href="guide">
            Руководство использования
        </NavLink>

        <div class="right menu">
            <div class="ui simple dropdown item ">
                Личный кабинет <i class="dropdown icon"></i>
                <div class="menu">
                    @if (isAuth) {
                        <NavLink class="item" href="profile">
                            Профиль
                        </NavLink>
                        <div class="divider"></div>
                        <buttom type="submit" class="item" onclick="@LogOff">
                            Выйти
                        </buttom>
                    }
                    else {
                        <NavLink class="item" href="login">
                            Войти
                        </NavLink>
                        <div class="divider"></div>
                        <NavLink class="item" href="register">
                            Регистрация
                        </NavLink>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@functions{
    [Parameter]
    private bool isAuth { get; set; }

    private async Task LogOff() {
        await Http.PostJsonAsync("api/Account/LogOff", null);

        UriHelper.NavigateTo("/");
    }
}