<div class="ui fixed inverted menu">
    <div class="ui container">

        <NavLink class="header item" href="">
            <img class="logo" src="css/Semantic-UI-CSS-master/noimg.png">
            <strong>Dekanat</strong>
        </NavLink>

        <NavLink class="item" href="">
            Главная страница
        </NavLink>

        <NavLink class="item" href="guide">
            Руководство использования
        </NavLink>

        <NavRightMenu />
    </div>
</div>
